.job-item-container {
  background-color: #272727;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 3%;
  text-decoration: none;
}
.job-item-inner {
  padding: 18px;
}
.job-item-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.job-item-company-logo {
  width: 48px;
}
.job-item-header-description {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.job-title {
  margin-top: 0px;
  margin-bottom: 6.5px;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 15px;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating-star {
  color: #fbbf24;
  margin-right: 8px;
  font-size: 14px;
}
.rating-value {
  color: #f1f5f9;
  margin: 0px;
  font-family: 'Roboto';
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .job-item-inner {
    padding: 25px;
  }
  .job-item-header-description {
    margin-left: 20px;
  }
  .job-item-company-logo {
    width: 80px;
  }
  .job-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .rating-star,
  .rating-value {
    font-size: 18px;
  }
}
.job-item-body-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #475569;
}
.job-item-body-info-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-img {
  color: #f1f5f9;
  font-size: 18px;
  margin-right: 6px;
}
.icon-label {
  color: #f1f5f9;
  font-size: 14px;
  font-family: 'Roboto';
}
.employmentType-container {
  margin-left: 10px;
}
.job-lpa {
  color: #f1f5f9;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}

.job-item-description-container {
  display: flex;
  flex-direction: column;
}
.job-item-description-heading {
  color: #f1f5f9;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 0px;
}
.job-item-description {
  color: #f1f5f9;
  font-size: 12px;
  font-family: 'Roboto';
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .job-lpa {
    font-size: 18px;
  }
  .job-item-description-heading {
    font-size: 20px;
  }
  .job-item-description {
    font-size: 16px;
  }
}
